Repository cloudposse-terraform-components/aws-datadog-synthetics-private-location, pull requests merged in 2025-06, with the labels that each got.

#22 Enable merge queue
  .github/CODEOWNERS
  .github/settings.yml
Labels: auto-update, no-release, migration

#23 Enable merge queue
  .github/settings.yml
Labels: auto-update, no-release, migration

#25 Fix provider configuration
  src/provider-datadog.tf
Labels: triage

#36 chore(deps): restrict helm provider version to ~ 2.0.0
  src/versions.tf
Labels: needs-test
